<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informação do Processo GRH - Gerenciador de Processos</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/styleInfoProcesso.css">
</head>
<body>
    <header class="nav">
        <div id="logo_ufal">
            <img src="../assets/img/png.png" alt="Logo UFAL">
        </div>
        <div id="menu_principal">
            <p><a class="links" href="inicio.html">Início</a></p>
            <p><a class = "links" href="add_processos.html">Adicionar Processo</a></p>
            <p><a class="links" href="relatorios.html">Relatórios</a></p>
        </div>
    </header>

    <section id="corpo">
        <p>Carregando Processo...</p>
    </section>

    <footer>
        <p>&copy;Gerencia de Recursos Humanos</p>
    </footer>
    
    <script type="module" src="../assets/script/script_info_processo.js"></script>
</body>
</html>