<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início GRH - Gerenciador de Processos</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/styleInicial.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="../assets/img/png.png" alt="UFAL Logo">
        </div>
        <div id="menu_principal">
            <ul id="menu_principal_lista">
                <li>
                    <a class="links" href="#">
                        <img src="../assets/img/botao-de-inicio.png" alt="Inicio">
                        <p class="texto blue">Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="links" href="add_processos.html">
                        <img src="../assets/img/adicionar-ficheiro.png" alt="Adicionar Processo">
                        <p class="texto">Adicionar Processo</p>
                    </a>
                </li>
                <li>
                    <a class="links" href="relatorios.html">
                        <img src="../assets/img/lista-de-afazeres.png" alt="Relatorios">
                        <p class="texto">Relatórios</p>
                    </a>
                </li>
            </ul>
        </div>
        <div id="divsair">
            <img id="sair" src="../assets/img/sair.png" alt="sair">
        </div>
    </header>

    <section id="m_busca">
        <div id="m_busca_titulo">
            <h1>Gerenciador de Processos - GRH</h1>
        </div>
        <div id="f_busca">
            <form id="formulario" action="">
                <input type="text" name="busca" id="busca" placeholder="Buscar" onclick=select()><br>
                <button id="button-image" type="submit">
                    <img src="../assets/img/lupa.png" alt="Icone Lupa">
                </button>
            </form>
            <div id="opcoes_filtros" class="notVisivel">
                <button id="filtro_numero_processo">
                    <p>Numero Processo</p>
                </button>
                <button id="filtro_interessado">
                    Interessado
                </button>
                <button id="filtro_destino">
                    Destino
                </button>
            </div>
        </div>
    </section>

    <section id="resultado">
          
    </section>
    
    <div id="overlay" style="display: none;">
        <div id="texto">
            <h1 class="overlay_cont">EXCLUIR PROCESSO?</h1>
            <h3 class="overlay_cont">Essa ação não poderá ser desfeita</h3>
            <h3 class="overlay_cont">O Processo será REMOVIDO permanentemente</h3>
        </div>
        <div class="botoes-container">
            <button class="botoes" id="excluir">EXCLUIR</button>
            <button class="botoes" id="cancelar">CANCELAR</button>
        </div>
    </div>

    <footer>
        <p id="fim">&copy;Gerencia de Recursos Humanos</p>
    </footer>

    <script type="module" src="../assets/script/script_inicio.js"></script>
    <script type="module" src="../assets/script/firebase/sair.js"></script>
</body>
</html>