<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios GRH - Gerenciador de Processos</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styleRelatorios.css">
</head>
<body>
    <header class="nav">
        <div id="logo_ufal">
            <img src="../assets/img/png.png" alt="Logo UFAL">
        </div>
        <div id="menu_principal">
            <p><a class="links" href="../index.html">Início</a></p>
            <p><a class = "links" href="processos.html">Processos</a></p>
            <p><a class="links" href="relatorios.html">Relatórios</a></p>
        </div>
        <!-- Possivelmente não será usado
        <div id="icone_config">
            <img src="../assets/img/cardapio.png" alt="Icone tres barrinhas">
        </div>
        -->
    </header>
    
    <section class="secao_principal">
        <div>
            <h1 class="nome_secao_principal" >Gerenciador de Processos - GRH</h1>
            <div class="busca">
                <h1>busca</h1>
            </div>
            <div class="resultado_pesquisa">
                <h1>Filtro</h1>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy;Gerencia de Recursos Humanos</p>
    </footer>
</body>
</html>