<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios GRH - Gerenciador de Processos</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/styleRelatorios.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="../assets/img/png.png" alt="UFAL Logo">
        </div>
        <div id="menu_principal">
            <ul id="menu_principal_lista">
                <li>
                    <a class="links" href="inicio.html">
                        <img src="../assets/img/botao-de-inicio.png" alt="Inicio">
                        <p class="texto">Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="links" href="add_processos.html">
                        <img src="../assets/img/adicionar-ficheiro.png" alt="Adicionar Processo">
                        <p class="texto">Adicionar Processo</p>
                    </a>
                </li>
                <li>
                    <a class="links" href="#">
                        <img src="../assets/img/lista-de-afazeres.png" alt="Relatorios">
                        <p class="texto blue">Relatórios</p>
                    </a>
                </li>
            </ul>
        </div>
        <div id="sair">
            <img src="../assets/img/sair.png" alt="sair">
        </div>
    </header>
    
    <section id="secao_principal">
        <div id="titulo">
            <h1>Gerenciador de Processos - GRH</h1>
        </div>
        <div id="formulario">
            <form id="form_data" action="">
                
                <label for="data">Data Inicial:</label>
                <input type="date" id="data_inicial" class="input" name="data_inicial">

                <label for="data">Data Final:</label>
                <input type="date" id="data_final" class="input" name="data_final">
                
                <button id="enviar" type="submit">Gerar Relatório</button>
            </form>
        </div>
    </section>

    <section id="resultado">
          
    </section>

    <footer>
        <button id="botao">Gerar PDF</button>
        <p>&copy;Gerencia de Recursos Humanos</p>
    </footer>
    <script type="module" src="../assets/script/script_relatorios.js"></script>
    <script type="module" src="../assets/script/firebase/sair.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
</body>
</html>