<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios GRH - Gerenciador de Processos</title>
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/styleRelatorios.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="../assets/img/png.png" alt="UFAL Logo">
        </div>
        <div id="menu_principal">
            <ul id="menu_principal_lista">
                <li>
                    <a class="links" href="inicio.html">
                        <img src="../assets/img/botao-de-inicio.png" alt="Inicio">
                        <p class="texto">Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="links" href="add_processos.html">
                        <img src="../assets/img/adicionar-ficheiro.png" alt="Adicionar Processo">
                        <p class="texto">Adicionar Processo</p>
                    </a>
                </li>
                <li>
                    <a class="links" href="relatorios.html">
                        <img src="../assets/img/lista-de-afazeres.png" alt="Relatorios">
                        <p class="texto">Relatórios</p>
                    </a>
                </li>
            </ul>
        </div>
        <div id="sair">
            <img src="../assets/img/sair.png" alt="Sair">
        </div>
    </header>
    
    <section class="secao_principal">
        <div>
            <h1 id="nome_secao_principal" >Gerenciador de Processos - GRH</h1>
            <div class="busca">
                <h1>busca</h1>
            </div>
            <div class="resultado_pesquisa">
                <h1>Filtro</h1>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy;Gerencia de Recursos Humanos</p>
    </footer>
    <script type="module" src="../assets/script/firebase/sair.js"></script>
</body>
</html>