/* Zerando todo o documento */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  padding: 5px 0;
  background-color: #235bbd;
  border-bottom: 1px solid rgb(50, 17, 230);
}

header img {
  margin-left: 20px;
  height: 100px;
}

#menu_principal {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}

#menu_principal p {
  margin: 0 50px;
  font-size: 24px;
}

#menu_principal p a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

#menu_principal p a:hover {
  color: rgb(20, 120, 250);
  text-decoration: none;
}

/* Codigo antigo

CABEÇALHO DO SITE 
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #446cb3;   
}

header img {
  margin-left: 20px;
  height: 100px;
}

.links{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

 TRANSIÇÃO DOS LINKS 
.links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #254e94;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
  
.links:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .links:hover {
    color: #13397a;
  }


#icone_config{
    font-size: 1rem;
    padding-top: 4rem;
}

#menu_principal {
    display: inline-flex;
    text-decoration: none;
    padding-top: 2rem;
    padding-left: 10%;
}

#menu_principal p{
    margin-inline: 3rem;
}

*/

/*TITULO DA PAGINA CENTRAL*/

#m_titulo {
  text-align: center;
  padding: 20px;
  font-size: 32px; 
  margin-bottom: 30px;
}

/* TITULO DO FORM */

#form_add_titulo {
  border: 2px solid black;
  border-radius: 7px;
  width: fit-content;
  padding: 10px 40px;
  position: relative;
  top: -25px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

/* FORM DE ADICIONAR PROCESSOS*/

#form_add{
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
}

#form_add_form {
  width: 98%;
  padding: 0 20px;
  margin: 20px  auto;
  font-size: 20px;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
}

#assunto {
  resize: none;
}

#botao {
  text-align: center;
  margin: 20px 0 10px;
}

#enviar {
  padding: 15px 35px;
  background-color: #235bbd;
  border: none;
  color: white;
  font-size: 18px;
}

/* RODAPÉ DO SITE */
.rodape{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}